/bin/*
!bin/create-database
!bin/create-shopify-import
!bin/download-product-info
!bin/update-product-info
!bin/push-shopify-product-updates
!bin/send-gunfire-import-file
/build/*
!build/.gitignore
/data/*.sqlite3
/data/gunfire-*
/data/*.json
/vendor/*
.env
.env.*
!.env.dist
.lastupdate
shopify-import-*
