/bin/*
!bin/create-database
!bin/create-shopify-import
!bin/download-product-info
!bin/envars
!bin/update-product-info
!bin/push-shopify-product-updates
/build/*
!build/.gitignore
/data/*.sqlite3
/data/gunfire-*
/vendor/*
.shopify-import-run
shopify-import-*
