/bin/*
!bin/create-database
!bin/create-shopify-import
!bin/download-product-info
!bin/update-product-info
!bin/push-shopify-product-updates
/build/*
!build/.gitignore
/data/*.sqlite3
/data/gunfire-*
/vendor/*
.env
.env.*
!.env.dist
.lastupdate
shopify-import-*
